<% content_for :meta_tags do %>
  <%= render "meta_tags/meta_home" %>
<% end %>


<h1>Hello there!</h1>

<% @manufacturers.each do |m| %>
	<%= link_to m.name, manufacturers_path(@manufacturer) %>
	<% end %>