<link rel="canonical" href="<%= request.original_url %>">
<title>Search Fabric — Quiltsy</title>
<meta name="title" content="Search Fabric — Quiltsy">
<meta name="description" content="Love fabric? We do too. Search and stash fabrics, threads, notions and books on Quiltsy.">
<meta property="og:site_name" content="Quiltsy">
<meta property="og:title" content="Search Fabric — Quiltsy">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:image" content="">
<meta property="og:description" content="Love fabric? We do too. Search and stash fabrics, threads, notions and books on Quiltsy.">
<meta name="twitter:site" content="">
