<link rel="canonical" href="<%= request.original_url %>">
<title>Quiltsy</title>
<meta name="title" content="Quiltsy">
<meta name="description" content="Join our quilting community! Make new friends, keep up with events, discover new patterns and take your stash on the go.">
<meta property="og:site_name" content="Quiltsy">
<meta property="og:title" content="Quiltsy">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:image" content="">
<meta property="og:description" content="Join our quilting community! Make new friends, keep up with events, discover new patterns and take your stash on the go.">
<meta name="twitter:site" content="">
