<h1>Fabric Collection Details</h1>

<h2><%= @fabric_collection.name %></h2>
<h4>By <%= @manufacturer.name %></h4>

<% @fabric_collection.fabrics.each do |f| %>

	<%= link_to f.name, fabric_collection_fabric_path(@fabric_collection, f) %>

<% end %>