

<div class="row">
	<div class="small-12 columns">
		<h2><%= @fabric_collection.name %></h2>
		<h4>By <%= @manufacturer.name %></h4>
	</div>
</div>

<div class="row">
	<% @fabric_collection.fabrics.each do |f| %>
		
		<div class="small-6 medium-3 columns end">
			<%= image_tag(f.fabric_image.mobile_160) %>
			<%= link_to f.name, fabric_path(f) %>
		</div>

	<% end %>
</div>